@import "variable";

*{
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: linear-gradient(#33f9ff, #9cf4ec, #d1e5e3, #b4bcbb) #33f9ff;

  nav {
    font-size: 28px;
  }

  header {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: larger;
  }

  main {
    h1 {
      color: $color-principal;
      font-weight: bolder;
      margin: $margin;
      text-align: center;
      font-size: $tamTitulo;

    }
  }

}

.nav-item { 
  margin-left: 4rem;
}

.logo {
  height: 5.7rem;
  margin-left: 3rem;
}

.sitio {
  margin-left: 12rem;
}

footer {
  font-size: 3rem;
  text-align: center;
  margin: 3rem;
}

.padi {
  height: 3rem;
  width: 6rem;
  margin: 1rem;
}

.texFoot {
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem;
}

.face {
  margin: 2 rem;
}

/* Index */


.recuadro {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 36rem;
  width: 30rem;
  margin-bottom: 3rem;
}

.cerBuceo {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #03106A;
}

.certif {
  text-align: center;
  margin: 3rem;
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.card-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardIndex { 
  background-color: transparent;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 3rem;
}

.video {  
  margin-top: 4rem;
  margin-left: 25%  
}
.texIndex {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Curso*/

#texCurso {
  text-align: left;
}
.texto {
  background-color: transparent;
  border: none;
  margin: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h-80 {
  margin-top: 3rem;
  background-color: transparent;
  border: none;
}

.cursos {
  width: 16rem;
  height:27rem ;
  margin: 3rem;  
  display: flex;
  flex-direction: column;   
  text-align: center;  
  background-color: transparent;
  border: none;
}


.fCurs { 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 9rem;  
  width: 11;
  margin-top: 3rem;  
}


.imgCu{
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px;    
  
}

.imgCu:hover{
  
  transform: scale(1.15);
  
}

.btn-primary{
  background-color: #4F979C ;
}
.precio {
  font-size: 2rem;
  font-weight: bold;
}


/*equipos*/


#titEquipo{
  text-align: left;
}
.tienda {
  background-color: transparent;
  display: flex;   
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;   
  height: auto;
  width: 300px;  
  margin: 4rem;     
  box-shadow: 1px 1px 10px 2px #617675 ;   
}

.foto {
  display: flex;
  height: 20rem;
  width: 32rem;
  margin: 1rem;
}



/*viajes*/

.imgViajes {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.carIma1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 3rem;  
}

.carIma {
  text-align: right;
  display: flex;
  flex-direction: column;  
  margin-top: 3rem;  
}

.tanFuentes {
  color:#3D5251 ;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  text-align: center;
}

.container{
  justify-content: center;
  flex-wrap: wrap;
}

.ventaCard {
  margin-bottom: 3rem;
  border-radius: 1rem;  
  padding-bottom: 32px;
  height: 20rem;
  width: 20rem;      
  box-shadow: 1px 1px 10px 2px #617675 ; 
}


.stretched-link {
  text-decoration: none;
}

/*contacto*/

.formulario {
  padding: 5rem;
}

.direccion {  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.ubicacion {
  background-image: url(../img/ubicacion.jpg);
  height: 88vh;  
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover; 
}


.what{
  width: 20px;
}

.position-relative {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
