body {
  width: 100%;
  background: linear-gradient(#33f9ff, #9cf4ec, #d1e5e3, #b4bcbb) #33f9ff;
}
body nav {
  font-size: 28px;
}
body header {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
body main h1 {
  color: #03106A;
  font-weight: bolder;
  margin: 3rem;
  text-align: center;
  font-size: 3rem;
}

.nav-item {
  margin-left: 4rem;
}

.logo {
  height: 5.7rem;
  margin-left: 3rem;
}

.sitio {
  margin-left: 12rem;
}

footer {
  font-size: 3rem;
  text-align: center;
  margin: 3rem;
}

.padi {
  height: 3rem;
  width: 6rem;
  margin: 1rem;
}

.texFoot {
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem;
}

.face {
  margin: 2 rem;
}

/* Index */
.imagenIndex {
  background-image: url(../img/curso.jpg);
  height: 88vh;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.texIndex {
  text-align: left;
}

.recuadro {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 36rem;
  width: 30rem;
  margin-bottom: 3rem;
}

.cerBuceo {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #03106A;
}

.certif {
  text-align: center;
  margin: 3rem;
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.card-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cardIndex {
  background-color: transparent;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 3rem;
}

.video {
  margin-top: 4rem;
  margin-left: 25%;
}

/*Curso*/
.texIndex {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.imagenCurso {
  background-image: url(../img/profundidad.jpg);
  height: 88vh;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  border: 0rem;
}

#texCurso {
  text-align: left;
}

.tanFuente {
  text-decoration: none;
  background-size: cover;
  color: #A5EAE5;
  font-size: 2.5rem;
  margin-left: 3rem;
}

.texto {
  background-color: transparent;
  border: none;
  margin: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.h-80 {
  margin-top: 3rem;
  background-color: transparent;
  border: none;
}

.cursos {
  width: 16rem;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  background-color: transparent;
  border: none;
}

.fCurs {
  flex-wrap: wrap;
  align-items: center;
  height: 7rem;
  width: 9;
  margin-top: 3rem;
}

.btn-primary {
  background-color: #4F979C;
}

.precio {
  font-size: 2rem;
  font-weight: bold;
}

#tituCursos {
  text-align: left;
  margin-bottom: 2rem;
}

.cursosDis {
  background-image: url(../img/cursosdis.jpg);
  height: 88vh;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

/*equipos*/
.imagenEquipo {
  background-image: url(../img/img\ buceo.jpg);
  height: 88vh;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.titEquipo {
  text-align: left;
}

.tienda {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding-bottom: 32px;
  height: auto;
  width: 300px;
  margin: 4rem;
  box-shadow: 1px 1px 10px 2px #617675;
}

.foto {
  display: flex;
  height: 20rem;
  width: 32rem;
  margin: 1rem;
}

/*viajes*/
.imagenViajes {
  background-image: url(../img/viaje.jpg);
  height: 88vh;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.imgViajes {
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.carIma1 {
  text-align: left;
  margin-top: 3rem;
}

.carIma {
  text-align: right;
  margin-top: 3rem;
}

.texViajes {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 2rem;
}

.tanFuentes {
  text-decoration: none;
  background-size: cover;
  color: #A5EAE5;
  font-size: 2.5rem;
  margin-bottom: 7rem;
  margin-left: 2rem;
}

#texViaje {
  text-align: left;
  margin-left: 2rem;
  margin-top: 16rem;
}

.ventaCard {
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding-bottom: 32px;
  height: 23rem;
  width: auto;
  margin: 0rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 10px 2px #617675;
}

.stretched-link {
  text-decoration: none;
}

/*contato*/
.formulario {
  padding: 5rem;
}

.direccion {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.ubicacion {
  background-image: url(../img/ubicacion.jpg);
  height: 88vh;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.what {
  width: 20px;
}

.position-relative {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}/*# sourceMappingURL=estilo.css.map */