
@import "variable";

body {

  background: linear-gradient(#33f9ff, #9cf4ec, #d1e5e3, #b4bcbb) #33f9ff;

  header {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: larger;
  }

  main {
    h1 {
      color: $color-principal;
      font-weight: bolder;
      margin: $margin;
      text-align: center;
      font-size: $tamTitulo;
     
    }
  }

}

.imagenCurso {  
  justify-content: left;
  padding-top: 14rem;
  background-image: url("../img/curso.jpg");
  background-size: cover;
  height: calc(100vh - 100px);
  margin-bottom: 3rem;
}

.tanFuente{  
  
  text-decoration: none; 
  background-size: cover;   
  color: #A5EAE5 ;
  font-size: 2.5rem;   
}
.imagenEquipo {
  display: flex;
  height: 500px;    
  max-width: 100%;
  justify-content: left;
  padding-top: 14rem;
  background-image: url("../img/img\ buceo.jpg");
  background-size: cover;
  height: calc(100vh - 100px);
  margin-bottom: 3rem;  
}

footer{
  font-size: 4rem;
  text-align: center;
}
.recuadro {
  height: 40rem;
  width: 30rem;
} 
.card-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video{
  margin-left: 25%;
}

.cerBuceo{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #03106A ;
}

.certif{
  text-align: center;
  margin: 3rem;
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.texto{
  background-color: transparent;
  border: none;
  margin: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.g-4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 }   

